<h2>Add New Book Reactive</h2>
<button (click)="updateFormValues()">Update</button>
<form class="add-book-from" [formGroup]="addBookForm" (ngSubmit)="saveBook()">
    <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput name="title" placeholder="Title" formControlName="title" />
        <mat-icon matSuffix>title</mat-icon>
        <mat-hint>
            {{ titleErrorMessage }}
        </mat-hint> </mat-form-field><br />
    <mat-form-field appearance="fill">
        <mat-label>Author</mat-label>
        <input matInput name="author" placeholder="Author" formControlName="author" />
        <mat-icon matSuffix>person</mat-icon> </mat-form-field><br />
    <mat-form-field appearance="fill">
        <mat-label>No of Pages</mat-label>
        <input matInput name="pages" type="number" placeholder="Pages" formControlName="totalPages" />
        <mat-icon matSuffix>123</mat-icon> </mat-form-field><br />
    <div class="price-container" formGroupName="price">
        <mat-form-field appearance="fill">
            <mat-label>Currency</mat-label>
            <mat-select name="currency" placeholder="Currency" formControlName="currency">
                <mat-option *ngFor="let currency of currencies" [value]="currency.value">
                    {{ currency.viewValue }}
                </mat-option>
            </mat-select>
            <mat-icon matSuffix>attach_money</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Price</mat-label>
            <mat-select name="price" placeholder="Price" formControlName="value">
                <mat-option *ngFor="let price of prices" [value]="price.value">
                    {{ price.viewValue }}
                </mat-option>
            </mat-select>
            <mat-icon matSuffix>attach_money</mat-icon>
        </mat-form-field>
    </div>
    <br />
    <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" name="publishedOn" formControlName="publishedOn" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker> </mat-form-field><br />
    <p>
        <mat-slide-toggle color="primary" name="isPublished" formControlName="isPublished">
            Slide me!
        </mat-slide-toggle>
    </p>
    <br />
    <button type="submit" mat-raised-button color="primary" [disabled]="addBookForm.invalid">
        Save
    </button>
</form>
{{ addBookForm.value | json }}